body {
	
}

#splash {
    background-color: #023750;
    background-image: url(../images/rallypoint.png);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: -60px; 
    right: 0; 
    bottom: 0; 
    left: 0;
    z-index: 99999;
}

#coords p {
	margin-top: 480px;
	font-family: 'Gruppo', cursive;
	color: white;
	font-size: 30px;
}

#rallypoint p {
	font-family: 'Six Caps', sans-serif;
	color: #EF0456;
	font-size: 80px;
}

#tagline p {
	font-family: 'Gruppo', cursive;
	color: white;
	font-size: 30px;
}
.map_area {
	background-color: #023750;
	padding: 30px;
	width: 500px;
	height: 400px;
	float: left;
}
.panel_area {
	background-color: #ffffff;
	color: #FFE600;
	width: 300px;
	height: 400px;
	float:right;
}

#createEvent {
	background-color: #EF0456;
	float: left;
	font-family: 'Six Caps', sans-serif;
	font-size: 40px;
	color: white;
	letter-spacing: 2px;
	width: 120px;
	height: 120px;
	margin: 10px;
}

#joinEvent {
	background-color: #FFCC00;
	float: right;
	font-family: 'Six Caps', sans-serif;
	font-size: 40px;
	color: white;
	letter-spacing: 2px;
	width: 120px;
	height: 120px;
	margin: 10px;
}



